*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #FAFAFA;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#head1, #head2{
    justify-content: space-around;
}

#menu{
    border: none;
    width: 25px;
    height: 18px;
    margin-top: 34px;
    margin-left: 5px;
    background-color: white;
}

#logo{
    margin: 25px 5px;
    width: 142px;
    height: 30px;
}

#search-icon{
    width: 16px;
    height: 16px;
    margin-top: 33px;
    margin-left: 8px;
}

#search{
    border: none;
    margin-left: 8px;
    height: 21px;
    padding: 2px;
    margin-top: 32px;
}

#notification-icon{
    width: 22px;
    height: 22px;
    margin-top: 28px;
}

#profile{
    width: 44px;
    height: 44px;
    margin-top: 18px;
    margin-left: 10px;
}

header div{
    display: flex;
}

header div p{
    margin-top: 27px;
    font: 16px/21px Roboto;
    margin-left: 10px;
}

#dropdown{
    height: 25px;
    width: 35px;
    margin-top: 25px;
}

body div{
    display: flex;
}

#container{
    margin-bottom: 15px;
}

aside{
    width: 18%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px 10px;
}

aside div{
    display: flex;
    font: 16px/21px Roboto;
    justify-content: flex-start;
    width: 183px;
    height: 43px;
    border-radius: 5px;
    margin: 0 auto
}

aside div p{
    margin-top: 8px;
}

.icon{
    width: 18px;
    height: 18px;
    margin-top: 8px;
    margin-right: 2px;
    margin-left: 5px;
}

#highlight{
    background: #FFF3F4;
    color: #C8242F;
}

#label{
    font: 30px/39px Roboto;
    margin-top: 14px;
    margin-left: 15px;
}

main{
    background: #FAFAFA;
}

#items{
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: wrap;
}

.item{
    width: 195px;
    height: 116px;
    background-color: white;
    justify-content: center;
}

.iconmain{
    width: 34px;
    height: 34px;
    margin-top: 31px;
    margin-right: 12px;
}

.num{
    font: 25px/33px Roboto;
    color: #3E3E3E;
}

.subitem{
    margin-top: 31px;
    display: block;
}

.title{
    font: 15px/20px Roboto;
    color: #3E3E3E;
}

#graph{
    margin-top: 30px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#graph div{
    background-color: white;
}

#dgraph{
    height: 400px;
    width: 100%;
    display: block;
}

#pchart{
    width: 100%;
    height: 330px;
    display: block;
}

.sale{
    font: 22px/29px Roboto;
    margin-bottom: 20px;
}

nav a{
    font: 12px/16px Roboto;
    color: #ADADAD;
    text-decoration: none;
    padding: 10px;
}

#dgraphdiv{
    width: 60%;
    padding: 2%;
    flex-direction: column;
}

#pchartdiv{
    width: 30%;
    padding: 2%;
    flex-direction: column;
}

#info{
    display: flex;
    font: 15px/20px Roboto;
    color: #3E3E3E;
    padding: 0px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#info img{
    width: 18px;
    height: 18px;
}

.country div{
    width: 120px;
}

#tab-head{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    background-color: white;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

th{
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 1.5px;
    color: #ADADAD;
}

table{
    background-color: white;
    width: 100%;
    border-spacing: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

tr{
    vertical-align: middle;
}

tbody{
    text-align: left;
    font: 15px/20px Roboto;
    color: #3E3E3E;
}

td{
    border-bottom: 1px solid whitesmoke;
}

#inv{
    font: 22px/29px Roboto;
    color: #3E3E3E;
}

#view{
    font: normal normal normal 12px/16px Roboto;
    color: #C8242F;
}

td div{
    width: fit-content;
    padding: 2px 12px;
    border-radius: 5px;
    font: 15px/20px Roboto;
}

#paid{
    background: #EBFFEF;
    color: #3CDD5F;
}

#fail{
    background: #FFF5F5;
    color: #FF4545;
}

#pending{
    background: #F8F8F8;
    color: #BABABA;
}










@media screen and (max-width:1120px){
    #graph{
        flex-direction: column;
    }   
    #dgraphdiv{
        width: unset;
    }
    #pchartdiv{
        width: unset;
    }
    .main{
        width: 82%;
    }
}

@media screen and (max-width:828px) {
    #container{
        flex-direction: column;
    }
    aside{
        flex-direction: row;
        width: unset;
        flex-wrap: wrap;
    }
    main{
        width: unset;
    }
    #logo{
        width: 105px;
    }
    #search{
        width: 30%;
    }
}
@media screen and (max-width:400px) {
    #menu{
        width: 20px;
    }
    #logo{
        width: 90px;
    }
    #notification-icon{
        width: 16px;
    }
    #profile{
        width: 32px;
        height: 32px;
        margin-top: 25px
    }
    #dropdown{
        width: 25px;
    }
}