*{
    margin: 0px;
    padding: 0px;
}

#container{
    display: flex;
    margin:auto;
    margin-top: 72px;
    max-width: max-content;
}

#heroimg{
    width: 576px;
    height: 576px;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    border-radius: 50%;
}

#submain{
    margin-left: 163px;
    width: 500px;
}

#logo{
    margin-top: 34px;
    width: 272px;
    height: 58px;
}

#text1{
    margin-top: 20px;
    font: 300 40px/47px Roboto;
    color: #3E3E3E;
}

#exprt{
    font: 900 40px/53px Roboto;
    color: #C8242F;
}

#text2{
    font: normal normal normal 25px/33px Roboto;
    color: #3E3E3E;
    margin-top: 32px;
}

#usrname{
    margin-top: 24px;
    width: 77%;
    height: 20px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    padding: 15px;
    display: inline-block;
}

::placeholder{
    font: 15px/20px Roboto;
    color: #ADADAD;
}

#passwd{
    margin-top: 27px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    width: 77%;
    height: 20px;
    padding: 15px;
    display: inline-block;
}

#login{
    margin-top: 30px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    width: 138px;
    height: 45px;
    font: 18px/24px Roboto;
    color: #FFFFFF;
    border-color: #C8242F;
}

#lfp{
    display: flex;
    width: 83%;
    justify-content: space-between;
    margin-bottom: 23px;
}

#fp{
    margin-top: 42px;
    text-decoration: none;
    font: 15px/20px Roboto;
    color: #ADADAD;
    margin-left: 170px;
}

#newMember{
    text-decoration: none;
    margin-top: 23px;
    font: 15px/20px Roboto;
    color: #ADADAD;
}

#register{
    font: 15px/20px Roboto;
    color: #C8242F;
}

@media screen and (max-width:1151px) {
#submain{
    margin-left: 10%;
    width: 300px;
}
#heroimg{
    width: 50%;
    height: 50%;
}
}

@media screen and (max-width:850px){
#container{
    flex-direction: column;
} 
#submain{
    width: 70%;
    margin: auto;
}   
#heroimg{
    margin: auto;
}
#logo{
    width: 80%;
    height: 80%;
}
#lfp{
    flex-direction: column;
}
#fp{
    margin-left: 0px;
    margin-top: 25px;
}
}